/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : 9 maj 2025, 19:07:26
    Author     : LENOVO
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #efe7d8;
}

.row_3_cols {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.col1per3 {

}

h1 {
  font-size: 36px;
  color: #5e5437;
  text-align: center;
  margin-top: 50px;
}

form {
  background-color: #ffffff;
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  color: #3d3a39;
  display: block;
  margin-bottom: 8px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: #80734e;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #80734e;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #6e602f;
  transform: translateY(-2px);
}

button[type="submit"]:active {
  background-color: #80734e;
  transform: translateY(1px);
}

.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  background-color: #f2dede;
  color: #a94442;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
}

.main{
    background-color: #ffffff;
    padding: 30px;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main button {
    background-color: #80734e;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 0 auto;
}

.main button:hover {
    background-color: #6e602f;
    transform: translateY(-2px);
}

.main button:active {
    background-color: #80734e;
    transform: translateY(1px);
}

.simple_text_link {
    color: inherit;
    text-decoration: inherit;
}

@media (max-width: 768px) {
  form {
    padding: 20px;
    margin: 20px auto;
  }

  h1 {
    font-size: 30px;
  }

  input[type="text"], textarea {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    padding: 12px 25px;
    font-size: 14px;
  }
}
